* {
  margin: 0;
  padding: 0;
}

.webPages {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}
/* Loading Bar */
.loadingBackground {
  position: relative;
  background-color: lightgray;
  width: 75%;
  text-align: center;
  border-radius: 10px;
  z-index: -2;
}

.loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3EC70B;
  border-radius: 10px;
  width: 0%; /* need to make to change from 0 to 100 */
  height: 100%;
  z-index: -1;
}

.loadingText {
  font-size: 1.25rem;
  font-weight: bold;
}
/* Buttons */
.buttons {
  margin-top: 7px;
}

.reloadBtn,
.resetBtn {
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: lightgray;
  font-weight: bold;
}

.reloadBtn:hover,
.resetBtn:hover {
  background-color: black;
  color: white;
}

.reloadBtn:active,
.resetBtn:active {
  background-color: white;
  color: black;
  /* border: 1px solid black; */
}

.reloadBtn {
  margin-right: 3px;
}

.resetBtn {
  margin-left: 3px;
}

footer {
  display: none;
}
